/* shared styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.text-primary {
    color: #FD6E0A;
}

.primary-button {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 16px 36px;
}

.section-header {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-para {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* nav related styles */
.nav {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    margin: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    margin-bottom: 0;
}

.banner-name {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-para {
    color: #757575;
    font-weight: 400;
    line-height: 30px;
}

.banner-content {
    max-width: 575px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section styles */
.about {
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
}

#what-i-do-des {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skills {
    padding: 30px;
    max-width: 270px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-desc {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* .skills img {
    align-items: center;
} */

/* resume related styles */
.resume-container {
    display: flex;
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.resume-column {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 0px;
}

.item-header {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0px;
}

.timeframe {
    color: #757575;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.item-desc {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.resume-container hr {
    margin: 30px 5px;
}

.resume-item {
    margin: 30px 0px;
}

.resume-button {
    text-align: center;
    margin-top: 50px;
}

/* footer ralated styles */

.footer-container {
    display: flex;
    padding: 130px 230px;
    margin-top: 100px;
    gap: 20px;
    background-color: #FFF8F3;
    ;

}

.contact-details {
    width: 50%;
}

.contact-header {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.contact-desc {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
}

/* footer related styles */

.form input[type="text"],
.form input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    margin-bottom: 24px;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;
    background:#FFF;
    color: #757575;
    font-size: 16px;
}